{{!-- Save this for another handlebar I will make later --}}

<div class="container">
  <h1>Client List</h1>
  {{#each clients}}
  <div>
    <h2>Client: {{name}}</h2>
    <ul>
      {{#each accounts}}
      <li>
        <h3>Account: {{accountType}}</h3>
        <p>Checking Type: {{checkingType}}</p>
        <p>Saving Type: {{savingType}}</p>
        <p>Checking Balance: {{balanceChecking}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
  {{/each}}

